@{
    ViewData["Title"] = "Home Page";
}
    <style>
        body {
            background-image: linear-gradient(to right, lightblue, lightgreen);
        }

        .link {
            text-align: center;
            margin-top: 120px;
            transform: scale(5,5);
        }

        .link2 {
            text-align: center;
            margin-top: 180px;
            transform: scale(5,5);
        }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Test your knowledge with FlashCards</h3>
</div>
<div class="link">
    <a href="flash/Index">
        <input type="submit" value="FlashCards" />
    </a>
</div>
<div class="link2">
    <a href="flash/ListAll">
        <input type="submit" value="View All" />
    </a>
</div>