@{
    ViewData["Title"] = "Home Page";
}
<style>
        body {
        background-color: aliceblue;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Test your knowledge with FlashCards</h3>
</div>
